<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bsoft.mob.pivas.persistence.mob.DBJLMapper">

    <select id="getDBJL" resultType="com.bsoft.mob.pivas.domain.mob.DBJL">
        SELECT  DBXH,DBJL.JPBH,DBJL.JGID,BRBQ,DBPC,ZDS, DBTM,DBGH,DBPC.PCMC
        FROM JM_DBJL DBJL ,JM_DBPC DBPC
        WHERE DBJL.DBTM=#{dbtm} AND DBPC.JLXH=DBJL.DBPC
    </select>
</mapper>