<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!--如果不定义webAppRootKey参数，那么webAppRootKey就是缺省的"webapp.root"。 但最好设置，以免项目之间的名称冲突。定义以后，在Web
        Container启动时将把ROOT的绝对路径写到系统变量里。 然后log4j的配置文件里就可以用${pivas.root }来表示Web目录的绝对路径，把log文件存放于webapp中。此参数用于后面的“Log4jConfigListener” -->
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>pivas.root</param-value>
    </context-param>

    <!--Spring默认刷新Log4j配置文件的间隔,单位为millisecond -->
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>6000</param-value>
    </context-param>

    <!--由Spring载入的Log4j配置文件位置 -->
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext-*.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Spring mvc -->
    <servlet>
        <servlet-name>pivasServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:pivas-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>pivasServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--阿里Druid数据库监控 -->
    <servlet>
        <servlet-name>DruidStatView</servlet-name>
        <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DruidStatView</servlet-name>
        <url-pattern>/druid/*</url-pattern>
        <init-param>
            <param-name>resetEnable</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet-mapping>
    <!--初始化一些系统缓存（目前为病区）-->
    <servlet>
        <servlet-name>initialServlet</servlet-name>
        <servlet-class>com.bsoft.mob.pivas.servlet.InitialServlet</servlet-class>
        <load-on-startup>10</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>initialServlet</servlet-name>
        <url-pattern>/inital</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <!-- ===================================================================
        - Filters - =================================================================== -->
    <!--gzip -->
    <filter>
        <filter-name>CompressingFilter</filter-name>
        <filter-class>com.github.ziplet.filter.compression.CompressingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>compressionThreshold</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CompressingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- filter for spring -->
    <filter>
        <filter-name>encoding-filter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encoding-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- filter for auth -->
    <filter>
        <filter-name>auth-filter</filter-name>
        <filter-class>com.bsoft.mob.pivas.filter.AuthFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>memcached</param-name>
            <param-value>memcached.properties</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>auth-filter</filter-name>
        <url-pattern>/auth/*</url-pattern>
    </filter-mapping>

    <!-- 阿里Druid -->
    <filter>
        <filter-name>DruidWebStatFilter</filter-name>
        <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>exclusions</param-name>
            <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
        </init-param>
        <init-param>
            <param-name>profileEnable</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>DruidWebStatFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
