<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bsoft.mob.pivas.persistence.hrp.BQYZMapper">


    <select id="getTZSJ" resultType="java.lang.String" databaseId="sqlserver" >
        SELECT TOP 1 TZSJ FROM V_MOB_HIS_BQYZ WHERE YZZH=#{YZZH}
    </select>

    <select id="getTZSJ" resultType="java.lang.String" databaseId="oracle">
         SELECT TZSJ FROM V_MOB_HIS_BQYZ WHERE YZZH=#{YZZH} AND rownum <![CDATA[ <= ]]> 1
    </select>

</mapper>