<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bsoft.mob.pivas.persistence.mob.QYBQMapper">


    <select id="getJPBH" resultType="java.lang.String" databaseId="sqlserver">
        SELECT TOP 1 JPBH FROM JM_QYBQ WHERE FLAG=1 AND KSDM=#{ksdm}
    </select>

    <select id="getJPBH" resultType="java.lang.String" databaseId="oracle">
        SELECT  JPBH FROM JM_QYBQ WHERE FLAG=1 AND KSDM=#{ksdm} AND rownum <![CDATA[ <= ]]> 1
    </select>

    <select id="getOffices" resultType="java.lang.String">
        SELECT KSDM  FROM JM_QYBQ WHERE FLAG=1 AND JPBH=#{jpbh}
    </select>

</mapper>