<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsoft.mob.pivas.persistence.mob.THYYMapper">

    <cache type="org.mybatis.caches.memcached.MemcachedCache" />

    <select id="getTHYYs" resultType="com.bsoft.mob.pivas.domain.mob.THYY">
        SELECT YYXH,YYLX,YYNR,ZFBZ,JGID FROM JM_THYY WHERE YYLX=#{thlx} AND JGID=#{jgid} AND ZFBZ=0
    </select>
    <select id="getYYNRs" resultType="java.lang.String">
        SELECT YYNR FROM JM_THYY WHERE YYLX=#{thlx} AND JGID=#{jgid} AND ZFBZ=0
    </select>
</mapper>