<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsoft.mob.pivas.persistence.hrp.KSDMMapper">

    <cache type="org.mybatis.caches.memcached.MemcachedCache" />

    <select id="getOffices" resultType="com.bsoft.mob.pivas.domain.hrp.KSDM">
       SELECT KSDM , KSMC ,JGID FROM V_MOB_HIS_KSDM WHERE KSDM IN
        <foreach item="item" index="index" collection="array"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY KSDM
    </select>

    <select id="getAllOffices" resultType="com.bsoft.mob.pivas.domain.hrp.KSDM">
        SELECT KSDM , KSMC  FROM V_MOB_HIS_KSDM
    </select>
</mapper>